.lowercontent{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}

.lowercontent .back{
    display: flex;
    border: 1px solid #DADADA ;
    background:transparent;
    width:48%;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    height: 3rem;
    border-radius: 0.5rem;
    color: #000000;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
}

.lowercontent .next{
    display: flex;
    border: none;
    /* border: 1px solid #DADADA ; */
    background-color:#01B7A8;
    text-transform: uppercase;
    width:48%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    padding:1rem 0.3rem;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
}